In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import normalize
from sklearn.linear_model import LinearRegression

In [3]:
train_df=pd.read_csv('train.csv')
test_df=pd.read_csv('test.csv')
train_col=train_df.columns
test_col=test_df.columns

In [4]:
#train_df

In [5]:
#Drop columns with null values more than 600

pd.set_option('display.max_rows', 500)
train_null=train_df.isnull().sum()

for i in range(len(train_null)):
    if(train_null[i]>600):
        train_df.drop(train_col[i],axis=1,inplace=True)
        test_df.drop(test_col[i],axis=1,inplace=True)
train_col1=train_df.columns[0:-1]
test_col1=test_df.columns

In [6]:
#Adding mean value to null values
train_null=train_df.isnull().sum()
for i in range(len(train_null)):
    if(train_null[i]>0):
        if(type(train_df[train_col1[i]][0])!=str):
            train_df[train_col1[i]]=train_df[train_col1[i]].replace(np.NaN, train_df[train_col1[i]].mean())
            test_df[test_col1[i]]=test_df[test_col1[i]].replace(np.NaN, test_df[test_col1[i]].mean())

In [7]:
#Applying label encoder
le=LabelEncoder()
for c in train_col1:
    train_df[c]=le.fit_transform(train_df[c])

In [8]:
train_corr=train_df.corr()
train_corr_col=train_corr.columns
#train_corr

In [9]:
#dropping columns with correlation less than 0.2
for i in range(len(train_col1)):
    if(train_corr['SalePrice'][i]<0):
        train_df.drop(train_col1[i],axis=1,inplace=True)
        test_df.drop(train_col1[i],axis=1,inplace=True)
train_col2=train_df.columns
test_col2=test_df.columns

In [10]:
X_train=train_df.iloc[:,:-1]
Y_train=train_df.iloc[:,-1]

In [11]:
lr=LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression()

In [12]:
for i in range(len(test_col2)):
    test_df[test_col2[i]]=le.fit_transform(test_df[test_col2[i]])

In [13]:
y_pred=lr.predict(test_df)
y_pred

array([128100.41402032, 177790.66635102, 184566.88841063, ...,
       175192.52148668, 110279.5449421 , 261454.93352237])

In [14]:
df_test=pd.read_csv('test.csv')

In [15]:
#make the submission data frame
submission = {
    'Id': df_test.Id.values,
    'SalePrice': y_pred
}
solution = pd.DataFrame(submission)
solution.head()

     Id      SalePrice
0  1461  128100.414020
1  1462  177790.666351
2  1463  184566.888411
3  1464  188920.267437
4  1465  199914.769951

In [31]:
solution.to_csv('submission.csv',index=False)

# Regression tree

In [16]:
from sklearn.tree import DecisionTreeRegressor

In [54]:
RegressionTree=DecisionTreeRegressor(min_samples_split=20,min_samples_leaf=5)
RegressionTree.fit(X_train,Y_train)

DecisionTreeRegressor(min_samples_leaf=5, min_samples_split=20)

In [55]:
Y_prediction_regression_tree=RegressionTree.predict(test_df)

In [56]:
Y_prediction_regression_tree

array([155666.66666667, 150200.        , 195975.        , ...,
       150200.        , 133611.76470588, 230530.76923077])

In [57]:
df_test=pd.read_csv('test.csv')

In [58]:
#make the submission data frame
submissionRT = {
    'Id': df_test.Id.values,
    'SalePrice': Y_prediction_regression_tree
}
solutionRT = pd.DataFrame(submissionRT)
solutionRT.head()

     Id      SalePrice
0  1461  155666.666667
1  1462  150200.000000
2  1463  195975.000000
3  1464  192226.666667
4  1465  213722.285714

In [59]:
solutionRT.to_csv('submissionRT.csv',index=False)